@charset "UTF-8";  

@font-face {
    font-family: roboto;
    src: url(assets/fonts/RobotoCondensed-VariableFont_wght.ttf) format(truetype);
}

/* Variaveis */
:root {
    --background: #161615;
    --primary: #FFFFFF;
    --font: roboto;
    --corapagada: #333;
}

body {
    background-color: var(--background);
    font-family: var(--font);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 500px;
    align-items: center;
    color: var(--primary);
    margin: auto;
    border-bottom: 3px solid var(--primary);
    z-index: 1;
    background-color: var(--background);
}

.header > h1 {
    text-align: center;
    font-size: 3em;
    margin-left: 100px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.a-links {
    position: relative;
    text-decoration: none;
    color: var(--primary);
    padding: 5px 0;
    transition: color 0.3s ease;
}

/*Animação do a-links*/

.a-links::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 0;
    background-color: gray;
    transition: width 0.3s ease, left 0.3s ease;
}

.a-links:hover::after {
    width: 100%;
    left: 0;
}

.a-links:hover {
    color: gray;
    transition: 1s;
}

/*Sobre Mim*/
section {
    min-height: 100vh;
    padding: 4rem 10%;
}
.sobre {
    padding-top: 180px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/*Sobre texto*/
.sobre-texto {
    width: 50%;
    display: flex;
    flex-direction: column;


}
.sobre-texto > h1 {
    font-size: 3em;
    text-decoration: underline;
}

.sobre-texto > p {
    width: 90%;
    text-align: justify;
}

/*Sobre Img*/
.sobre-img{
    display: flex;
    justify-content: center;
    align-items: center;
}


.div-img > img {
    width: 450px;
    height: 450px;
    border: 2px solid var(--primary);
    border-radius: 50%;
}

/*Habilidades*/

.habilidades {
    color: white;
}

.habilidades > h1 {
    font-size: 3em;
    text-decoration: underline;
    text-align: right;
}

.itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
}

.itens > div {
    width: 250px;
    height: 300px;
    border-radius: 30px;
    border: 4px solid var(--corapagada);
    color: var(--corapagada);
    text-align: justify;
    margin: 15px 10px;
    
}

/*Html*/

.html {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: justify;
    transition: 2s;

}

.html:hover {
    border-color: #FF4500;
    color: #FF4500;
    scale: 1.05;
}

/*CSS*/

.css {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: justify;
    transition: 2s;

}

.css:hover {
    border-color: #663399;
    color: #663399;
    scale: 1.05;
}

/*JS*/

.js {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: justify;
    transition: 2s;
}

.js:hover {
    border-color: #F7DF1E;
    color: #F7DF1E;
    scale: 1.05;
}

/*React Native*/

.react {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: justify;
    transition: 2s;
}

.react:hover {
    border-color: #00D8FF;
    color: #00D8FF;
    scale: 1.05;
}

/*Icons*/

i {
    font-size: 52px;
}